[Bot]
BOT_ID=6154633729:AAH67HVls-ngmkDwrY6bI1wUdu5K00LVZXM
REGEX=\b(ту|х22|х-22|x22|x-22|ха-22|ха22|x 22|стратегіч)

[Telethon]
API_ID=27415780
API_HASH=2b66c66b5d67ed23c44d583e0cc6a159

[Source]
CHATS=ny_i_dnipro,wartrav

[Destination]
CHAT=@tu_bombers_alarm_dnepr

[Timing]
SECONDS_BETWEEN_REQUESTS=60
SECONDS_FROM_NOW_SEARCH_MESSAGES=60
